<div class="header">
        <h1 class="form-heading">Online Notice Board</h1>
    <a href="#" class="logout">Logout</a>
</div>
<div class="login-form">
<div class="button">
    <button type="submit" class="btn btn-primary"(click)="create()">Click To Add Users </button>
    <button type="submit" class="btn btn-primary" (click)="read()">Click To View Users</button>
    <button type="submit" class="btn btn-primary">Click To Update User</button>
    <button type="submit" class="btn btn-primary" (click)="delete()">Click To Delete Users</button>
</div>
</div>